[submodule "aretay-ios"]
	path = aretay-ios
	url = https://github.com/WillReynolds5/aretay-ios.git
[submodule "aretay-backend"]
	path = aretay-backend
	url = https://github.com/WillReynolds5/aretay-backend.git
